Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Opacity.uasset
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Roughness.uasset
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Translucency.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/02_Arid_Debris_tjkimhh_8K_inst.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Albedo.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Displacement.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Normal.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Opacity.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Roughness.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Translucency.uasset
Content/MS_DebrisNatureV1/Decal/03_Arid_Debris_tjkirkh/03_Arid_Debris_tjkirkh_8K_inst.uasset
Content/MS_DebrisNatureV1/Decal/03_Arid_Debris_tjkirkh/tjkirkh_8K_Albedo.uasset
Content/MS_DebrisNatureV1/Decal/03_Arid_Debris_tjkirkh/tjkirkh_8K_Displacement.uasset
Content/MS_DebrisNatureV1/Decal/03_Arid_Debris_tjkirkh/tjkirkh_8K_Normal.uasset
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Roughness.uasset
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Translucency.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/02_Arid_Debris_tjkimhh_8K_inst.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Albedo.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Displacement.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Normal.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Opacity.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Roughness.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Translucency.uasset
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Roughness.uasset
Content/MS_DebrisNatureV1/Decal/01_Moss_Patch_tjxpg3h/tjxpg3h_8K_Translucency.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/02_Arid_Debris_tjkimhh_8K_inst.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Albedo.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Displacement.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Normal.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Opacity.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Roughness.uasset
Content/MS_DebrisNatureV1/Decal/02_Arid_Debris_tjkimhh/tjkimhh_8K_Translucency.uasset
